# Terraform state files
*.tfstate
*.tfstate.*
.tfschema.json

# Crash logs
crash.log
crash.*.log

# Ignore Terraform plan files
*.tfplan

# Local variable overrides
terraform.tfvars
*.auto.tfvars

# CLI configuration files
.terraformrc
terraform.rc
.terraform.lock.hcl

# Module and provider directories
.terraform/

# IDE/editor specific files
.vscode/
.idea/
.DS_Store
